.searchbar {
    margin: auto;
    gap: 5px;

    display: flex; 
    justify-content: center;    
}

/* Text Box Input Color */
/* input { color:white; } */

.searchbar, .searchbox {
    width: 50%;
}

/* Search Box */
.searchbox {
    background-color: #3C3C3C;
    font-weight: normal;
    font-style: italic;  
    color:white;
}

/* Search Button */
.searchbtn {
    width: 10%;
    background-color: #027AFF;
    color: white; 
}

.searchbox, .searchbtn {
    padding: 3px;
    border: none;
    border-radius: 5px;

    display: flex; 
    align-items: center;
    justify-content: center;   
}
