/* entire header block including title, search bar, & nav bar */
header {
    box-shadow: 0 0 20px rgb(10, 10, 10);
    padding: 10px;
    gap: 10px; 

    overflow: hidden;
    transition: 0.5s;
    position: fixed;
    top: 0;
    z-index: 99;

    display: flex;    
    flex-direction: column;
}

/* Social Media title */
header h1 { 
    font-size: 3em;
    text-shadow: 0 0 15px rgb(10, 10, 10);
    padding-bottom: 10px;
}

/* -------- BUTTONS / NAV BAR -------- */
 
 .post ul {
    width: 50%;
    margin: auto;
    gap: 10px;
    display: flex;
 }

/* icon size of top bar */
.tabcontainer {
    width: 20%;
    margin: auto;
    gap: 10px;
    display: flex;
}

.btn, .post li {
    width: 100%;
}

.icon  {
    width: 50%;
    padding: 3px;
    aspect-ratio: 1/1;
}


a {
    display: flex;
    justify-content: center;
}

/* -------- MAIN CONTENT -------- */
/* container of all posts */
#maincontent {
    width: 70%;

    padding-top: 200px;
    padding-bottom: 200px;
    box-shadow: 0 0 15px rgb(10, 10, 10);
}

/* container of an entire post */
.post {
    width: 60%;
    margin: 20px;
    background-color: #212121;
}


/* container holds main photo, description, & interactions*/
.figContainer {
    width: 85%;
    padding-top: 20px;
}

/* Main post photo */
.mainPhoto {
    aspect-ratio: 1/1;
    margin-top: 15px;
    object-fit: cover;
}

.description {
    font-size: 8pt;
    padding: 5px;
    text-align: center;
}

.interact {
    width: 70%;
    padding: 10px;
}


/* additional styling */

header, #maincontent {
    background-color: #1b1b1b;
}

.post li, .tab, .btn, .post, .mainPhoto {
    border-radius: 10px;
}

header, .post li, .tab, a, main, .mainPhoto {
    width: 100%;
}

main, .figContainer, #maincontent, .post {
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.btn:hover { 
    background-color: #303030; 
    cursor: pointer;
}

.interact li {
    cursor: pointer;
}

#active { 
    background-color: #027AFF; 
    box-shadow: 0 0 5px rgb(0, 0, 0);
}
#active:hover {
    background-color: #0065d8; 
}

.clicked { 
    background-color: #027AFF;   
}

.clicked:hover {
    background-color: #0065d8; 
    cursor: pointer;
}