


/* entire header block including title, search bar, & nav bar */
header {
    background-color: #1b1b1b;
    box-shadow: 0 0 20px rgb(10, 10, 10);
    width: 100%;
    padding: 10px;
    gap: 15px; 



    overflow: hidden;
    transition: 0.5s;
    position: fixed;
    top: 0;
    z-index: 99;


    display: flex;    
    flex-direction: column;
}

/* Social Media title */
header h1 { 
    font-size: 3em;
    text-shadow: 0 0 15px rgb(10, 10, 10);
    display: flex;    
    margin: auto;
}

/* -------- BUTTONS / NAV BAR -------- */
 
.post ul, #topnav ul {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: auto;
 }



/* icon size of top bar */
#topnav ul img {
    width: 30%;
    aspect-ratio: 1/1;
}

.post li, #topnav li {
    width: 100%;
    border-radius: 10px;
    font-size: 10pt;
    border-radius: 10px;
    list-style: none;
    
    display: flex;
    align-items: center;
}


a {
    width: 100%;
    border-radius: 10px;
    padding: 5px;

    display: flex;
    justify-content: center;
}

#topnav a {
    width: 70%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}


/* -------- MAIN CONTENT -------- */
main {
    width: 100%;
    padding-top: 300px;
    padding-bottom: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

/* container of all posts */
#maincontent {
    width: 70%;
    background-color: #1b1b1b;
    box-shadow: 0 0 15px rgb(10, 10, 10);
    
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* container of an entire post */
#maincontent article {
    width: 50%;
    margin: 20px;
    background-color: #212121;
    border-radius: 10px;
    
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* container holds main photo, description, & interactions*/
.figContainer {
    width: 85%;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Main post photo */
.mainPhoto {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 10px; 
    margin-top: 15px;

    object-fit: cover;
    display: block;
}

.figContainer figcaption {
    width: 75%;
    font-size: 1em;
    padding: 10px; 
    text-align: center;

}

/* Interaction icons */
.interact {
    width: 50%;
}

.interact img {
    width: 70%;
    object-fit: cover;
    display: block;   
}



