


/* Banner Section */
#mainBanner section {
    /* layout */
    width: 100%;
    background-color: #1b1b1b;

    /* visual */
    box-shadow: 0 0 15px rgb(10, 10, 10);
    
    /* flexbox */
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

article {
    width: 75%;
    padding: 20px;
    margin: 10px;

    background-color: #212121;
    border-radius: 10px;
    
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}


#banner {
    width: 100%;
    background-color: #1b1b1b;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* POST Section */
.maincontent article {
    width: 100%;
    padding: 20px;
    margin: 10px;

    background-color: #212121;
    border-radius: 10px;
    
    display: flex;    
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.yourPost {
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.yourPost img {
    width: 90%;
    aspect-ratio: 1/1;
    object-fit: cover;
    display: block;
    cursor: pointer;

}


main {
    gap: 40px;
}

.pfp img {
    width: 100%;
    border-radius: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    display: block;
}