#searchbar {
    width: 50%;
    margin: auto;
    gap: 5px;

    display: flex; 
    align-items: center;
    justify-content: center;    
}

/* Text Box Input Color */
input { color:white; }

/* Search Box */
#searchbox {
    width: 50%;
    padding: 3px;

    border: none;
    border-radius: 5px;
    background-color: #3C3C3C;
    font-weight: normal;
    font-style: italic;

    display: flex; 
    align-items: center;
    justify-content: center;   
}

/* Search Button */
#searchbtn {
    width: 10%;
    border: none;
    padding: 3px;

    border-radius: 5px;
    background-color: #027AFF;
    color: white;

    display: flex; 
    align-items: center;
    justify-content: center;   
}