/* css file used by the login and register pages */
.error-message {
    color: red;
    margin-bottom: 10px;
}

h1 { font-size: 3em; }
input { color:white; }

#main-content {
    background-color: rgba(21, 21, 21, 0.88);
    box-shadow: 0 0 24px rgba(0, 0, 0, 0.32);
    backdrop-filter: blur(10px);

    width: 100%;
    padding: 20px;
    border-radius: 10px;

    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.submit-section input:hover, .submit-section button:hover {
    background-color: #026fec;
    cursor: pointer;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    border-radius: 10px;

}

.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 10px;

}

.form-details {
    width: 50%;
    padding: 10px;
    background-color: #424242;
    border: none;
    border-radius: 10px;
    color: white;
}

.submit-section {
    display: flex;
    
    padding: 30px 10px 10px 10px;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.submit-btn {
    padding: 5px;

    width: 100px;
    border: none;
    border-radius: 10px;
    background-color: #027AFF;
    color: white;
}

#login-page {
    width: 40%;
    padding: 25px;
    display: flex;
    justify-content: center;

}